<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img alt="..." height="36" src="https://angular.io/assets/images/logos/angular/angular.svg" width="36">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes/lista" routerLinkActive="active">
            Listar Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes/cadastro" routerLinkActive="active">
            Cadastrar / Atualizar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--&lt;!&ndash; Page Content &ndash;&gt;-->
<!--<div class="container">-->
<!--  <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>-->
<!--  <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap! Make sure to set the height-->
<!--    of the logo within the HTML or using CSS. For best results, use an SVG image as your logo.</p>-->
<!--</div>-->
