<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>{{ clientCPF ? 'Editar Cliente' : 'Cadastrar Cliente' }}</h3>
          <p>Insira os dados do cliente.</p>
          <form (ngSubmit)="onSubmit()" [formGroup]="clientForm" class="client-form requires-validation">

            <div class="col-md-12">
              <label for="name">Nome Completo:</label>
              <input class="form-control" formControlName="inputName" id="name" name="name"
                     placeholder="Nome Completo" required type="text">
            </div>
            <app-field-error [displayError]="isFieldValid('inputName')"
                             errorMsg="Campo Nome Completo não pode ser vazio">
            </app-field-error>

            <div class="col-md-12">
              <label for="cpf">CPF:</label>
              <input class="form-control" formControlName="inputCPF" id="cpf" name="cpf"
                     placeholder="CPF" required type="text">
              <app-field-error [displayError]="isFieldValid('inputCPF')"
                               errorMsg="CPF Inválido">
              </app-field-error>
            </div>

            <div class="col-md-12">
              <label for="telefone">Telefone:</label>
              <input class="form-control" formControlName="inputTelephone" id="telefone" name="Telefone"
                     placeholder="Telefone" required type="text">
              <app-field-error [displayError]="isFieldValid('inputTelephone')"
                               errorMsg="Campo Telefone não pode ser vazio">
              </app-field-error>
            </div>

            <div class="col-md-12">
              <label for="rua">Rua:</label>
              <input class="form-control" formControlName="inputStreet" id="rua" name="Rua"
                     placeholder="Rua" required type="text">
              <app-field-error [displayError]="isFieldValid('inputStreet')"
                               errorMsg="Campo Rua não pode ser vazio">
              </app-field-error>
            </div>

            <div class="col-md-12">
              <label for="numero">Número:</label>
              <input class="form-control" formControlName="inputNumber" id="numero" name="inputNumber"
                     placeholder="Número" required type="text">
              <app-field-error [displayError]="isFieldValid('inputNumber')"
                               errorMsg="Campo Número não pode ser vazio">
              </app-field-error>
            </div>

            <div class="col-md-12">
              <label for="cep">CEP:</label>
              <input class="form-control" formControlName="inputZip" id="cep" name="inputZip"
                     placeholder="CEP" required type="text">
              <app-field-error [displayError]="isFieldValid('inputZip')"
                               errorMsg="Campo CEP não pode ser vazio">
              </app-field-error>
            </div>

            <div class="col-md-12">
              <label for="rendimento-mensal">Rendimento Mensal:</label>
              <input class="form-control" currencyMask formControlName="inputIncome" id="rendimento-mensal"
                     name="inputZip" placeholder="Rendimento Mensal" required type="text">
              <app-field-error [displayError]="isFieldValid('inputIncome')"
                               errorMsg="Campo Rendimento Mensal não pode ser vazio">
              </app-field-error>
            </div>

            <div class="form-button mt-3">
              <button class="btn btn-primary" id="submit"
                      type="submit">{{ clientCPF ? 'Editar' : 'Cadastrar' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
